*.so
*.a
*.o
*.la
*.lo
*.swp
*~
*o.d
.deps
.dirstamp

# autoconf/automake related stuff
autom4te.cache
.configured

# code browsing & etc
cscope.*
tags
/nbproject/private/
/node_modules/
/bower_components/
/public/vid/
/data.json
/config.js
/app.yaml
