  <button type="button" class="btn btn-default" ng-click="logResult()" name="button">
    logResult
  </button>
  <button type="button" class="btn btn-default pull-right" ng-click="showCollections()" name="button">
    Refresh collections list
  </button>
<div ng-hide="true" class="">
  </br>
  <button type="button" class="btn btn-default" ng-click="refreshUploadsCollections()" name="button">
    Refresh Uploads collections
  </button>

</div>

<div class="">
  <div class="collections-wrapper" ng-repeat="(key, value) in collectionsResult">

    <h4>{{key}}</h4>
    <button type="button" name="button" ng-click="refreshUploadsCollection(key)" class="btn btn-default glyphicon glyphicon-refresh pull-right"></button>
    <uib-accordion close-others="oneAtATime" class="subscriptionslist">
      <uib-accordion-group ng-repeat="item in collectionsResult[key]">
        <uib-accordion-heading>
          {{item.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <a ng-href="https://www.youtube.com/watch?v={{item.uploads.items[0].snippet.resourceId.videoId}}&list={{item.playlistId}}" target="_blank" class="btn btn-block btn-default">Uploads</a>
        <div class="playlist">

          <div class="video" ng-repeat="videoItem in item.uploads.items">
            <h4 class="btn-block">  {{videoItem.snippet.title}}</h4>
            <a href="https://www.youtube.com/watch?v={{videoItem.contentDetails.videoId}}&list={{item.uploads.items[0].snippet.playlistId}}" target="_blank">
              <img ng-src="{{videoItem.snippet.thumbnails.high.url}}" alt="" /></a>
            <div class="description" ng-class="{expanded: showDescription == true, '': showDescription == false}">
              <p>
                {{videoItem.snippet.description}}
              </p>
            </div>
            <label class="btn btn-block">show description
              <input ng-hide="true" type="checkbox" name="name" value="" ng-model="showDescription">
            </label>
          </div>
          <hr>
        </div>


        <div>{{item.snippet.description}}</div>
      </uib-accordion-group>

    </uib-accordion>
  </div>
</div>
