<p>
  subscriptions list
</p>
<div class="">
  <!-- {{item.snippet.title}} -->
  <uib-accordion close-others="oneAtATime" class="subscriptionslist">
    <uib-accordion-group ng-repeat="item in subscriptionsResult.items">
      <uib-accordion-heading>
        {{item.snippet.title}}  <i class="pull-right glyphicon"
        ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <a href="https://www.youtube.com/watch?v={{item.uploads.uploadItems.items[0].contentDetails.videoId}}&list={{item.uploads.items[0].contentDetails.relatedPlaylists.uploads}}" target="_blank" class="btn btn-block btn-default">Uploads</a>
      <div class="playlist">

        <div class="video" ng-repeat="videoItem in item.uploads.uploadItems.items">
        <h4 class="btn-block">  {{videoItem.snippet.title}}</h4>
<a href="https://www.youtube.com/watch?v={{item.uploads.uploadItems.items[0].contentDetails.videoId}}" target="_blank">
          <img ng-src="{{videoItem.snippet.thumbnails.default.url}}" alt="" /></a>
          <div class="description" ng-class="{expanded: showDescription == true, '': showDescription == false}">
            <p>
              {{videoItem.snippet.description}}
            </p>
          </div>
          <label class="btn btn-block">show description<input ng-hide="true" type="checkbox" name="name" value="" ng-model="showDescription"></label>
        </div>
        <hr>
      </div>


      <div>{{item.snippet.description}}</div>
    </uib-accordion-group>

  </uib-accordion>
</div>
